  
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 body {
   background-color: #fff;
   font-family: 'Roboto', sans-serif;
   color: #434455;
 }
 
 h1,
 h2,
 h3,
 p {
   margin-top: 0;
 }
 
 a {
   text-decoration: none;
   color: currentColor 
 }
 
 ul,
 ol {
   list-style-type: none;
   padding-left: 0;
 }
 
 img {
   display: block;
 }
 
 section {
   padding-top: 120px;
   padding-bottom: 120px;
 }
 
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 } 

 .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }

  @media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*   #region Header */

.page-header-top {
  padding-top: 16px;
  padding-bottom: 16px;

}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
     display:none
}

.header-adress {
    display: none;
}

@media screen and (max-width: 767) {
    .header-menu, .header-adress {
        display: flex
   }
}

.mainlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.mainlogo-header-studio-part {
  color: #2e2f42;
}

.mainlogo-footer-studio-part {
  color: #f4f4fd;
}

.nav-btn-mobile {
  background-color: transparent;
  border: none;
  stroke: #2f2f37;
  padding: 0;
  line-height: 0;
}

